In [18]:
import pandas as pd
import os

In [19]:
df_geo = pd.read_csv(r"C:/Users/user/Desktop/Ecom/data/raw/olist_geolocation_dataset.csv")
df_geo.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [ ]:
df_geo.info()

In [ ]:
df_geo.shape

In [ ]:
df_geo.isnull().sum()

In [ ]:
df_geo["geolocation_zip_code_prefix"].duplicated().sum()

In [ ]:
df_geo["geolocation_state"].count()

In [ ]:
df_geo_clean = (
    df_geo
    .groupby("geolocation_zip_code_prefix")
    .agg({
        "geolocation_lat": "mean",
        "geolocation_lng": "mean",
        "geolocation_city": "first",
        "geolocation_state": "first"
    })
    .reset_index()
)

In [ ]:
df_geo["geolocation_state"].value_counts()

In [ ]:
df_geo_clean = df_geo.drop(
    columns=["geolocation_city", "geolocation_lat", "geolocation_lng"],
    errors="ignore"
)

In [ ]:
print(df_geo_clean.head())
print(df_geo_clean.columns)

In [ ]:


df_geo_clean["geolocation_state"] = (
    df_geo_clean["geolocation_state"]
    .str.strip()
    .str.upper()
)

In [ ]:
df_geo_clean.shape

In [ ]:
df_geo_clean["geolocation_zip_code_prefix"].is_unique

In [ ]:
df_geo_clean

In [ ]:
import os

os.makedirs("C:/Users/user/Desktop/Ecom/data/processed", exist_ok=True)

In [ ]:
df_geo_clean.to_csv(
    "C:/Users/user/Desktop/Ecom/data/processed/geolocation_cleaned.csv",
    index=False
)