In [198]:
#Import the Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Data Exploratory Analysis

In [199]:
df=pd.read_csv("C:/Users/jwsam/Desktop/Ecom/kaggle_datasets/olist_order_payments_dataset.csv")

In [200]:
df_order_payment=pd.read_csv("C:/Users/jwsam/Desktop/Ecom/kaggle_datasets/olist_order_payments_dataset.csv")

In [201]:
df_order_payment.head(20)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
5,298fcdf1f73eb413e4d26d01b25bc1cd,1,credit_card,2,96.12
6,771ee386b001f06208a7419e4fc1bbd7,1,credit_card,1,81.16
7,3d7239c394a212faae122962df514ac7,1,credit_card,3,51.84
8,1f78449c87a54faf9e96e88ba1491fa9,1,credit_card,6,341.09
9,0573b5e23cbd798006520e1d5b4c6714,1,boleto,1,51.95
10,d88e0d5fa41661ce03cf6cf336527646,1,credit_card,8,188.73
11,2480f727e869fdeb397244a21b721b67,1,credit_card,1,141.90
12,616105c9352a9668c38303ad44e056cd,1,credit_card,1,75.78
13,cf95215a722f3ebf29e6bbab87a29e61,1,credit_card,5,102.66
14,769214176682788a92801d8907fa1b40,1,credit_card,4,105.28
15,12e5cfe0e4716b59afb0e0f4a3bd6570,1,credit_card,10,157.45
16,61059985a6fc0ad64e95d9944caacdad,1,credit_card,1,132.04
17,79da3f5fe31ad1e454f06f95dc032ad5,1,credit_card,1,98.94
18,8ac09207f415d55acff302df7d6a895c,1,credit_card,4,244.15
19,b2349a3f20dfbeef62e7b31baa22f84b,1,credit_card,3,136.71

In [202]:
df_order_payment.info()

<class 'pandas.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  str
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  str
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), str(2)
memory usage: 4.0 MB

There are no null values across all 5 columns 


Data types:no objects


float:1


Int:2

String:2

In [203]:
df_order_payment.describe()

       payment_sequential  payment_installments  payment_value
count       103886.000000         103886.000000  103886.000000
mean             1.092679              2.853349     154.100380
std              0.706584              2.687051     217.494064
min              1.000000              0.000000       0.000000
25%              1.000000              1.000000      56.790000
50%              1.000000              1.000000     100.000000
75%              1.000000              4.000000     171.837500
max             29.000000             24.000000   13664.080000

In [204]:
df_order_payment.describe(include='O')

C:\Users\jwsam\AppData\Local\Temp\ipykernel_2116\1572157764.py:1: Pandas4Warning: For backward compatibility, 'str' dtypes are included by select_dtypes when 'object' dtype is specified. This behavior is deprecated and will be removed in a future version. Explicitly pass 'str' to `include` to select them, or to `exclude` to remove them and silence this warning.
See https://pandas.pydata.org/docs/user_guide/migration-3-strings.html#string-migration-select-dtypes for details on how to write code that works with pandas 2 and 3.
  df_order_payment.describe(include='O')

                                order_id payment_type
count                             103886       103886
unique                             99440            5
top     fa65dad1b0e818e3ccc5cb0e39231352  credit_card
freq                                  29        76795

In [205]:
df_order_payment['payment_type'].unique()

<StringArray>
['credit_card', 'boleto', 'voucher', 'debit_card', 'not_defined']
Length: 5, dtype: str

In [206]:
df_order_payment['order_id'].nunique()

99440

In [207]:
df_order_payment['order_id'].duplicated().unique().any()

np.True_

In [208]:
duplicates_df = df_order_payment[df_order_payment['order_id'].duplicated(keep=False)]

In [209]:
duplicates_df

,order_id,payment_sequential,payment_type,payment_installments,payment_value
25,5cfd514482e22bc992e7693f0e3e8df7,2,voucher,1,45.17
35,b2bb080b6bc860118a246fd9b6fad6da,1,credit_card,1,173.84
75,3689194c14ad4e2e7361ebd1df0e77b0,2,voucher,1,57.53
84,723e462ce1ee50e024887c0b403130f3,1,credit_card,1,13.80
102,21b8b46679ea6482cbf911d960490048,2,voucher,1,43.12
...,...,...,...,...,...
103778,fd86c80924b4be8fb7f58c4ecc680dae,1,credit_card,1,76.10
103817,6d4616de4341417e17978fe57aec1c46,1,credit_card,1,19.18
103860,31bc09fdbd701a7a4f9b55b5955b8687,6,voucher,1,77.99
103869,c9b01bef18eb84888f0fd071b8413b38,1,credit_card,6,238.16
103874,d41f1036712e18ee525939d08b7a1c98,1,credit_card,1,3.57

In [210]:
num_duplicated_ids = duplicates_df['order_id'].nunique()

In [211]:
num_duplicated_ids

2961

In [212]:
duplicated_ids = duplicates_df['order_id'].unique()

In [213]:
duplicated_ids

<StringArray>
['5cfd514482e22bc992e7693f0e3e8df7', 'b2bb080b6bc860118a246fd9b6fad6da',
 '3689194c14ad4e2e7361ebd1df0e77b0', '723e462ce1ee50e024887c0b403130f3',
 '21b8b46679ea6482cbf911d960490048', 'ea9184ad433a404df1d72fa0a8764232',
 '82ffe097d8ddbf319a523b9bbe7725d5', 'c61e3efc183db6b89f5556efb5aa8797',
 '487c1451b8fd7347d0e80e5aca887e91', '65c863d90026e9dd4888e28d2135c983',
 ...
 '9b42f8813f6bfa620e0c91a4e132f2c0', '371229efe5a72afbbe5fc026b4b8d3a3',
 '610e831f41e8e6fe3214b767f41a17d5', 'dc5ba59adf78a3c3f5707f5bc83ca234',
 'e6c31d156f3b4cbe1942da11b01e386f', '0fd20e900b40f5cb8e6fd31df27aabbd',
 '573131fe2b7df5e3ce4d88bf7702f6d0', 'c228fb80043a1ebf0ab361c676972a34',
 '635b1de13b56852d3dca9d359b7ed8dd', '9e8253539b3ac1fc283b3d570f7b53ae']
Length: 2961, dtype: str

In [214]:
df_order_payment['payment_sequential'].unique()

array([ 1,  2,  4,  5,  3,  8,  6,  7, 10, 11, 17, 19, 27, 12,  9, 15, 13,
       14, 16, 25, 22, 26, 29, 28, 18, 21, 24, 23, 20])

In [215]:
df_order_payment['payment_sequential'].value_counts().sort_index()

payment_sequential
1     99360
2      3039
3       581
4       278
5       170
6       118
7        82
8        54
9        43
10       34
11       29
12       21
13       13
14       10
15        8
16        6
17        6
18        6
19        6
20        4
21        4
22        3
23        2
24        2
25        2
26        2
27        1
28        1
29        1
Name: count, dtype: int64

In [216]:
df_order_payment

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.31
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58

In [217]:
df_filtered = df_order_payment[(df_order_payment['payment_sequential'] == 2) & (df_order_payment['payment_type']=='boleto')]
df_filtered

,order_id,payment_sequential,payment_type,payment_installments,payment_value
80759,931a32b4ca3fdc36741af29ea645d8bf,2,boleto,1,94.4

In [218]:
df_order_payment['payment_installments'].unique()

array([ 8,  1,  2,  3,  6,  5,  4, 10,  7, 12,  9, 13, 15, 24, 11, 18, 14,
       20, 21, 17, 22,  0, 16, 23])

In [219]:
df_order_payment['payment_installments'].value_counts().sort_index()

payment_installments
0         2
1     52546
2     12413
3     10461
4      7098
5      5239
6      3920
7      1626
8      4268
9       644
10     5328
11       23
12      133
13       16
14       15
15       74
16        5
17        8
18       27
20       17
21        3
22        1
23        1
24       18
Name: count, dtype: int64

In [220]:
df_filtered=df_order_payment[df_order_payment['payment_type'] =='not_defined']
df_filtered

,order_id,payment_sequential,payment_type,payment_installments,payment_value
51280,4637ca194b6387e2d538dc89b124b0ee,1,not_defined,1,0.0
57411,00b1cb0320190ca0daa2c88b35206009,1,not_defined,1,0.0
94427,c8c528189310eaa44a745b8d9d26908b,1,not_defined,1,0.0

# Data Cleaning

#### order_id column requires dictionaire remapping

In [221]:
unique_orders=df_order_payment['order_id'].unique()

In [222]:
unique_orders

<StringArray>
['b81ef226f3fe1789b1e8b2acac839d17', 'a9810da82917af2d9aefd1278f1dcfa0',
 '25e8ea4e93396b6fa0d3dd708e76c1bd', 'ba78997921bbcdc1373bb41e913ab953',
 '42fdf880ba16b47b59251dd489d4441a', '298fcdf1f73eb413e4d26d01b25bc1cd',
 '771ee386b001f06208a7419e4fc1bbd7', '3d7239c394a212faae122962df514ac7',
 '1f78449c87a54faf9e96e88ba1491fa9', '0573b5e23cbd798006520e1d5b4c6714',
 ...
 '0872d0faafe0cb56e6f2c594cca1522c', '3531718b24dfd5022fb0d101e10e33b9',
 '2e3d96522c8c378d4135c12a65c977aa', 'c45067032fd84f4cf408730ff5205568',
 '7159096c5aa9be77f7f0c26c01ee9793', '0406037ad97740d563a178ecc7a2075c',
 '7b905861d7c825891d6347454ea7863f', '32609bbb3dd69b3c066a6860554a77bf',
 'b8b61059626efa996a60be9bb9320e10', '28bbae6599b09d39ca406b747b6632b1']
Length: 99440, dtype: str

In [223]:
#Creating a dictionaire for the mapping
order_id_map={}
new_id=1

for old_id in unique_orders:
    order_id_map[old_id]=new_id
    new_id+=1

In [224]:
order_id_map

{'b81ef226f3fe1789b1e8b2acac839d17': 1,
 'a9810da82917af2d9aefd1278f1dcfa0': 2,
 '25e8ea4e93396b6fa0d3dd708e76c1bd': 3,
 'ba78997921bbcdc1373bb41e913ab953': 4,
 '42fdf880ba16b47b59251dd489d4441a': 5,
 '298fcdf1f73eb413e4d26d01b25bc1cd': 6,
 '771ee386b001f06208a7419e4fc1bbd7': 7,
 '3d7239c394a212faae122962df514ac7': 8,
 '1f78449c87a54faf9e96e88ba1491fa9': 9,
 '0573b5e23cbd798006520e1d5b4c6714': 10,
 'd88e0d5fa41661ce03cf6cf336527646': 11,
 '2480f727e869fdeb397244a21b721b67': 12,
 '616105c9352a9668c38303ad44e056cd': 13,
 'cf95215a722f3ebf29e6bbab87a29e61': 14,
 '769214176682788a92801d8907fa1b40': 15,
 '12e5cfe0e4716b59afb0e0f4a3bd6570': 16,
 '61059985a6fc0ad64e95d9944caacdad': 17,
 '79da3f5fe31ad1e454f06f95dc032ad5': 18,
 '8ac09207f415d55acff302df7d6a895c': 19,
 'b2349a3f20dfbeef62e7b31baa22f84b': 20,
 '5a1f6d22f7dfb061ef29216b9af687a1': 21,
 '4214cda550ece8ee66441f459dc33a8c': 22,
 'adfbf6c2a620196f9a3ec747491c72b7': 23,
 '4d680edbaa7d3d9bed69532957368a03': 24,
 '8cd68144cdb62dc0d60848cf8616d2a4': 25,
 '5cfd514482e22bc992e7693f0e3e8df7': 26,
 'd0a945f85ba1074b60aac97ade7e240e': 27,
 'c39414c195d0f94c9d9c35e7c6ed4f1a': 28,
 '5d9c5817e278892b7498d90bfa28ade8': 29,
 'b69b9260e79a0da00e15f48de1bd2524': 30,
 'f45074ae38f2e01d9b854ec8d40362ff': 31,
 '81cedc4d2132eb6f512354166e51b187': 32,
 '595f598849d89203c28d05d0fbf3f92e': 33,
 'f9d0ec2fa088ac583e1ccd15b6686073': 34,
 'e647bf617de735448a4ba54f8910393c': 35,
 'b2bb080b6bc860118a246fd9b6fad6da': 36,
 '23f10f509600c30cf2852f9dbdf28fc3': 37,
 'f86f6472fa9f395d8d9a6751ca118afb': 38,
 '1dcf0c8cd36ffaf57784fbdc90079310': 39,
 '00d8d65b666158b633f96054d31af43b': 40,
 'cf30fe76d1505192acee1c6dccb15545': 41,
 'd3e774a185c0b1b2286ffd6c70abe2e6': 42,
 '32b1d8f3789a57f1f752e20ac7404b4c': 43,
 'c10d412026c4077b8e83acf0fea04eee': 44,
 '56c3277583e16009c925fdf116df420f': 45,
 '0e0441786430b7cfcd0d91f822ea4c99': 46,
 '6ffb3f1686bceae3466facf7e02ce3fb': 47,
 'afef48d3c8a0b1b7c9b7f8f922fb5674': 48,
 'c0db7d31ace61fc360a3eaa34dd3457c': 49,
 'd574338f566ca28dd67820f48ec1f1d8': 50,
 '1807cc736321f14baa58ef39cf6e5989': 51,
 'e8977f709bbb0367f51b589e6325f991': 52,
 '2e2c60b99754ae1e4d8b18846cfec9f2': 53,
 '1ffb3c1929b16d9c1aec1958e11b3e9b': 54,
 '95442deb81a5d91c97c0df96b431634a': 55,
 '10af96a0689260134307879127ac1952': 56,
 '85eef2d342b0de363c45c1bc324729c5': 57,
 'aa964845f1de8125410aea8b73e9e1ec': 58,
 '343348b1e29e9fa9e7b6ab1027f9177d': 59,
 'ad4098a257676ea4d394fb3bbbf36ca3': 60,
 '3e0c3cab458e8b3cc8d1d38ecb7e7775': 61,
 '3ab4eea6776259ae8dfbabaeffece352': 62,
 '10d9871bed9fb8d0887d3b9022edd1ff': 63,
 'c108072ab31ec90a754129c171577f5f': 64,
 'fc662bafa52d2ef16078f6f6141009d6': 65,
 '4217849b1ff18a9270fe048eabc4dc45': 66,
 '795c16acb4e3c30dfa5b6827727ef488': 67,
 '55e2d723733c45033e71cb4d44690234': 68,
 '947e9c6bfd83a06953c420ef92d3da6e': 69,
 '60e43c5f5ba559d9dd19357ed72cb2f2': 70,
 'e3e9e3295f4e1512167c232a0aaae8a5': 71,
 '460d57443ffdcaeba240360239747cf7': 72,
 '4cb51127f19f7254b320efe1718477dd': 73,
 '110d9355d6338eab0a65a0cacdde5434': 74,
 '42f5954cda381bd032934ee38c453711': 75,
 '3689194c14ad4e2e7361ebd1df0e77b0': 76,
 '97c111c4f22dfa1089a9c0b5338dcc79': 77,
 '4b2d035932915aa9c2a0d4d84cd6d3b0': 78,
 'e1b4ee0e390fbac1dec439d72b45a115': 79,
 'fee72a68ce935ebf2939fe72f27d3d9b': 80,
 '4d3bfdf4c7d6578ea445d588371ae10e': 81,
 '4c2e1a95586c815795a324d1599e7b5a': 82,
 'c9f23db8a1cb725df9bdb3383bd72b38': 83,
 '8e47a04b25d7a7075064e8e0bd2e0318': 84,
 '723e462ce1ee50e024887c0b403130f3': 85,
 'fa2ea4b6e84c1c0fc4f3a6d468c55183': 86,
 'fb1a2a1296f822405a946cbdfc0d3ed6': 87,
 '198298d54f269d8c5fe89e85a859af61': 88,
 'b19ca559688b49e8cf7f88c1aa3f0009': 89,
 '5be8d4719fe2e3669e2d07dddf3b6b0c': 90,
 '4a02e985c7239d866a632f07ed20d9c0': 91,
 '3e17eef8a8bd0131c7aed90d7508799e': 92,
 'f8d323a2702fed37f0229965f7e9f8b3': 93,
 'de4090fd9b7900d46323b0c7c36b7128': 94,
 '17e5131fe1d4b1a8dc14d4a66914f9d7': 95,
 '20f136d890c31a62486c809f91a5b098': 96,
 '557cc2675910c4a6c9b54ad276f25097': 97,
 'd60a89ab9bc1e68834465ae630c3343e': 98,
 '3ba2d0012b1f34bc6ccbc31c4ba69f93': 99,
 'd46f45b0d795bcf47a19d301710e63fe': 100,
 '96de2b7f7f3c401fbee3eef068376da6': 101,
 'f9d5bfb53147f381e81b89a848e26b16': 102,
 '21b8b46679ea6482cbf911d960490048': 103,
 'e6670c9089973cc68e5b90b7d1f4fec4': 104,
 '85a4fbdba48c815924115fb82330071c': 105,
 '35525be13c4af8acae0bb6d13c27110d': 106,
 '46ee6eaca194413758f200a6974b7e4d': 107,
 'f49cd89d6dad6dd5759ecf15dfe4bb19': 108,
 '9acd1ccfbc6445c0cad9ee9ddb48054c': 109,
 '83f24bbc4f76a2730ba9c9cfa32e6d07': 110,
 '0b65284a1a74114ea029b7676fdc1ba3': 111,
 'cf61ad2218e5c14397e7c0ba7a6a50f9': 112,
 '243312dbb316253ab77bb0140d94803c': 113,
 '8973a53fcad22a79e0ff315e7f9a0fd9': 114,
 'f090de1b2ed9f4e251662cb31e3c7127': 115,
 '2ccde1e4676c20b9444e2bcbed36334c': 116,
 '0f4b5614da144989e2acc5291af24357': 117,
 '1d92d2ce1ae2e0510b5ce50c5be578c6': 118,
 'a490a5d59a9bf4ef3334bfd7cf1dbdfc': 119,
 '60ead11db6b36221fe1424e330883a9a': 120,
 'c51dcdd98e1c413f3d394ffcb4656ed1': 121,
 'ea9184ad433a404df1d72fa0a8764232': 122,
 '8f936fb77c720ab9ccd618af38c885cc': 123,
 '0fba53cb4e9429e38cd2750c32fa24a5': 124,
 'cdaa116d3c2521b4b6976043508d0943': 125,
 '68d7420c86be23f313c81a554320f986': 126,
 'a5f860aaf6a3c35399495aefe92d363f': 127,
 'f51e3c7f79d1e2c076acbb6af1588b95': 128,
 '9184724aacd6a7da5bcf4c08c2c674a8': 129,
 '8bdc559b124e47eb71b5d1be8d6675e4': 130,
 '49d3db2a02106c24d6ef800bd8ad5546': 131,
 'c604ad5f1e0d0bcf9977cf46d1d72303': 132,
 '859980aae511377b7230f72d90bfc580': 133,
 'e2cd740333fe4585ead5c50c61edb6a5': 134,
 '55779fa8fe072d9f8c92d672154558f2': 135,
 '99bc267f49d76932cd195bfb2a94dd03': 136,
 '0c99132c4ff916416ba8f74c378f1cbc': 137,
 '66a4fa2d40fed98c34ced62496fdb1e7': 138,
 'db43c1a570e28fe9da60a444e3616a2b': 139,
 '82ffe097d8ddbf319a523b9bbe7725d5': 140,
 'f75666bf6c9e09f6b3f4bcd797b57a3c': 141,
 '5e5d1342989d05440629e2162fa52d07': 142,
 '14d9794bbb53614d12cc2df6a045f82b': 143,
 'a8c012ba7d95bd2d15f666681f19c146': 144,
 '31f8013402a0749b3ab433b1aee11754': 145,
 '4f99d1a7b0d2308edf45baa6997ac961': 146,
 'ca8f94a99a8120c559e416275a535066': 147,
 '9bdcb4559b75d21a22fcd868d9e5dfec': 148,
 '96cc8c42014ddb42a775da9a45ae3f76': 149,
 '87f003dca70d4d22518366caf041e845': 150,
 'f244841f5a461472de8de82f023b1371': 151,
 '3597f6476c27b4e1cc2f58588116f8f5': 152,
 '242e24b7eaa9f48cde9d679f8591124d': 153,
 '18259631aab7299bf25f83f5eac4c8d1': 154,
 '14c0c0bebe2cd50fb1dbdee84fbae03a': 155,
 '3b697a20d9e427646d92567910af6d57': 156,
 '55c0b6b41ce482c3f77407ef43fc6bad': 157,
 '53035288acc866ee15423b4293722b46': 158,
 '845af9472cc76e66fbf445931b511755': 159,
 '953b6636ab2347a8ba37a16770db47f9': 160,
 '886b114d034f4ac1d39d964c1b2a8182': 161,
 'c61e3efc183db6b89f5556efb5aa8797': 162,
 '2d1d5777f29a8ee6593cf90b85afb5b6': 163,
 'aa600269bffea363cca75ad2d1908903': 164,
 '487c1451b8fd7347d0e80e5aca887e91': 165,
 '0a9716da94d89975e6637874280aadad': 166,
 '65c863d90026e9dd4888e28d2135c983': 167,
 '62d9b911d7c56cf455f660eecb8ddd3a': 168,
 '279cc62fe9c5a9e6a7ad5a7536560944': 169,
 'e6ed38386107802a72ec8197195f79a7': 170,
 '4a4ed9ed7922304a569ed850baba99c6': 171,
 '3f5a1c29c5881cc9902ed702efbdde45': 172,
 '1594012ccc1b0770373ce691d697e5ae': 173,
 '2fe14af1d4563c0e76f382bc63c9a245': 174,
 'bc3d816db1aa7215dbde5b1b00d3d32b': 175,
 '67c8c2016ddabf0059783eb44e921f99': 176,
 '07d13d352c85dfbfa60dc56dea818335': 177,
 'b545ba7b0bd67a3128185c7214704319': 178,
 '9d8065ae4c6f5725ee052d02ab00f64e': 179,
 'd9d104af1ea99e0b7f6b0644eedc74d0': 180,
 '9e59025992bd64bc26551391ed44a450': 181,
 '591083bc42b589c7052118aa83118e76': 182,
 '79b63d1f9cf0257b33b04fbfb0847cba': 183,
 '7327c30a5230ce07bc2c7a695d553a00': 184,
 '3b9e43d6eba694f8a29c11ee67a04f2c': 185,
 '1e6d912e4c63965bb9eccf0cc765fc24': 186,
 '57e4fc8f20507381b3f7abbe4e2ccda3': 187,
 'd4fdb2be174c84a6409a3968c55b01c5': 188,
 'e1b6234c322ab01a32771bf57c597043': 189,
 '03afb3c10af52ddfa3c33b9881bf43f8': 190,
 'c1b770015e27aaf2b475026989d04fe0': 191,
 '1a9b986cfe31ed59c5a6c00287db7e74': 192,
 '66f249e4d7ab2f3872de7bd6d74719dd': 193,
 'c79bdf061e22288609201ec60deb42fb': 194,
 '648b4f683ccf074ebe65a73c8096dd18': 195,
 '02951078a21a2d9341ea16089a4d5031': 196,
 'afd0dbbab8e90d099aaccdd8ed7d5f26': 197,
 '2ad6c6594bf0917a25ff8b8918d4b7b0': 198,
 '774359a2a8b6be829653bae9390a0dd0': 199,
 '332c6742772f2df936696b6512b10edb': 200,
 'c385c0eba07c858dd60ffe00a60dda64': 201,
 'd087b8e096ca051f548e29b324272834': 202,
 '5262eaeb971616ffef822379ed91896f': 203,
 '52636dd3c039f62169b0eb724af63047': 204,
 'aa7c35fd606f4275e267e859c6a84d0f': 205,
 'caca64f71d73695719939294fa88c791': 206,
 'fd1ddfeca967b94315642dfe5c7545f7': 207,
 'fa12564d7462c9a851c79c301bcb97de': 208,
 '9c96fac210f67f329b80d898001fee09': 209,
 '85e710051891004eca4f527adcadd0c3': 210,
 '11978d520d85578c9f024b99ac1a87ef': 211,
 '9062b998bfc2521b3978b34034ba6e1e': 212,
 '31be75ffd0c4b58ca777e72cd2352b14': 213,
 '999d0185fdc3859e118a76c1e7d8dfe4': 214,
 '6cdb86865449a92089579ea715e1c1d1': 215,
 '50bf77081d0fdd2e57dcff0acf8fefeb': 216,
 'd121cbcb7091fbd55ad0344e0f045982': 217,
 '37fc44460574b368fe7933c6ae98f224': 218,
 '3fff175860497ca456d60c90b1f2b797': 219,
 'ae1126b6891f58552443772c80b1f562': 220,
 'd56564f21e612a588607e9ffb39b9d21': 221,
 '068176c8a0550b07cddf7e05c8d55319': 222,
 '9488305b52042a978d3bf78cf94bcd54': 223,
 '7a1ba14765ea354929894e667c06f386': 224,
 '4b5648d8399ea47a4c323499045aaefc': 225,
 '52b5d339bbba7bd8f18ca836ab540227': 226,
 '3a1a92434eae60a4f44ad7ebef65c3e7': 227,
 'dc400373e624e9b0435847a79813c658': 228,
 '9f1cdc0e091b90e61836ddc009a60ef2': 229,
 'd9952ada4955694cae66806b7d5ac6ca': 230,
 '251d586514cbf0cace61e03c54a7bf1c': 231,
 '0435b65bfd0a1cd1c48a82f5b405ea78': 232,
 '6644170ea0130942cfb3064dce01004a': 233,
 '7c3e71109e904d8e0c8d034456f87eca': 234,
 '881206af1a6a9cd34119b99782759dd4': 235,
 'f86d7bc39aab05299691322044b63bb2': 236,
 '5f082a502d1fd6f19d32897c2c2cbcec': 237,
 '27a7ac440630f9de788e4d66e72c6424': 238,
 'cc1cc1d6081f7f07a16cc1a3e4ba0b78': 239,
 '76b8568803f110a59ece4167463a4a7e': 240,
 '51e88bc351dd268bb9c9e78d263c4a06': 241,
 'a5b431090739891ac76875d9ad9bff23': 242,
 'ad62ce74c314772d34c956d73fb305f3': 243,
 'a669137c06cc23b7962d63be3a2ad6d1': 244,
 'da46439d7d06cf02cb44d0908ecc3575': 245,
 'd24e8541128cea179a11a65176e0a96f': 246,
 '1c67e99dc37224bf3ad220ae2368c068': 247,
 '4ff8e28200e5a7a50b448cfaaf1f8ed3': 248,
 '33ebbe6b176d53190194b5b05cf69330': 249,
 '2176f1406c11f07dcdea94931730770d': 250,
 '08935d5052c6414b1960eb67796d01f5': 251,
 'f553b61e2a7f6dc62c5f8de4ffb4a031': 252,
 '1966886b80f14d0588adf6406afb0026': 253,
 'f6ed483455295c6e7544f141244cd981': 254,
 'bf951e41c5adb873b7fdcc1e83b406bf': 255,
 '32d8aa395f9c9f357e1e3f7b214b9082': 256,
 'b798fc527c548bfa5f069b5b29195275': 257,
 '6c936253ed9ab81f5293da5081ba8a9a': 258,
 'dcec2b3be8c3d53056fe63381b2a6cfe': 259,
 '90eaac01afdf4e531a70ad869e092c75': 260,
 'a04639b53f2cbd1f77b63ed44168566e': 261,
 '97e8d3eb8f48e3610beed991e5f32296': 262,
 '7cb79316d2abe37e16ec83a07afb2895': 263,
 '7250e10eca3d7f71a091ac5752d3228f': 264,
 'cf8ace9395d2ee06b4b513df8ba682b3': 265,
 '101fa9bbc869f267953a48b0f659dc62': 266,
 '24abd231b3f48073eb9bc660b3eea5fd': 267,
 'bedff73fa5a137527ba9314cac93b7b3': 268,
 '808c4b75909ba91f23c1ef928f396822': 269,
 'c1310d06e793969c9dfc72a433db577f': 270,
 '9144181fd06902570ce9c34860652f55': 271,
 'd189b98b9c4f5325db664c5455fe927c': 272,
 '2e2dd1119ebf597a9c05d80b5d6eeace': 273,
 '7354aed5e2d142803a8121059f1e9324': 274,
 'ab85e3c92c828eb802fd91345e45d92e': 275,
 'b80ba0f0c3d2a63feac0116f533cc6a9': 276,
 'f0d8a84693b073fa90c69667c924ff8f': 277,
 '35bf7f86bc7add201e5b6573052157f0': 278,
 '56ba89857b4e6eb192108f310a81163b': 279,
 '0f67e615d797da223ac5601b9b08b180': 280,
 '440a666da55232dbd02bb270c7ac7d8c': 281,
 '57bfb7a49bcdecb20d9dbb778d7d7590': 282,
 'f6eb6190398bfb32871584bd111dec04': 283,
 '6b58f3523e45f9838f702acbc21e2f51': 284,
 '210a5f61a6a19892f81bb269863f4742': 285,
 '009ac365164f8e06f59d18a08045f6c4': 286,
 'f1b7c83171b22e2babd61eb8501d58d5': 287,
 'bb2d7e3141540afc268df7ef6580fc75': 288,
 '1f31fc163d36ff823c54a14e947b5bc8': 289,
 'd4c46523b1239f182b74fb0ea1c27f32': 290,
 '88857d91dc3370190060f4b06041e708': 291,
 '73596e67516934a7fe64cc6ca6d75545': 292,
 'e9da0d015d8dbc78a000c0b78cc87728': 293,
 'e6f98f32bf5e724269a5e9cb2529f2e3': 294,
 'acd76a8508680cbb5d4c04707be03f87': 295,
 'aeb81ccabe4f164a26e763cd5b07fd99': 296,
 'd51cbac21a49941976292ba004bf4165': 297,
 'edb14cad806f8ea19a08ed06c26726a2': 298,
 '6225c94031a1e372349fa17f1891317d': 299,
 'c8e19a0edcf6fd34024a2f7fe5f85ef8': 300,
 '984c8458b4e17a487d85b16c9ce0f00c': 301,
 '29aefbcf33949b65e5303167977e0362': 302,
 'ec5cf2317f5141a62836da8e71586eb6': 303,
 '3ba1ccc3882bd7df61ee5030f44ec1d2': 304,
 '5b2f1ff03b77977af4258e7cfc2ec799': 305,
 '490f30e8fa50cb3ef01058c9ab43048d': 306,
 '191a21c0a0934fdb7dcd56c6b28a8682': 307,
 'a23c7a7d06f1f8e9f6e45f934c7e106b': 308,
 '621b8e90f6fd06a792af8bdbbaf64a92': 309,
 'e4fe84926e03b0030e643318464be6a7': 310,
 '4801b9cf238c2c9098bd66a5f092c2da': 311,
 '37c755c6df4b61c5b4cc40361ae57588': 312,
 'd232a4685c8ddfc98307d91978aebfa5': 313,
 '2d5b43766328f55157cae1e85e1dd475': 314,
 '07a26b88cc90e93f5c9401de11a60793': 315,
 'ce7cf6dd8f80dfb98716950ae40eca59': 316,
 'bf5099786cc9dcd17a4961c9406fb3f3': 317,
 '4cc95216e51190048472a2baf6fa53ee': 318,
 '1c859fbb6e7f238f3f6134628b845f3a': 319,
 '5eca2113141f2c0e048b11bdcb7a0371': 320,
 'ada812c7806382c3085a5f5024bc17ca': 321,
 'ad2e046d1a59ee49ddf9ae258360b81b': 322,
 '9027f38fa8afb91a7ad77fd92abf97a1': 323,
 'cd82b3b68f4843cceb338d860b8aa006': 324,
 '6c721c8ce1b433e68655575af4955976': 325,
 'e199c3b74cd391568e7c99aa28b0f274': 326,
 '94a71bedec852e752e86d530d03d6061': 327,
 '64d6282bba1a1c015acbdcacca391253': 328,
 '49f62326ab0dc444db19abf56861df10': 329,
 '0e2b7e9ea88624cc24fe978983190dea': 330,
 'cfae1e992eeb0f51ba0de3ddb87b33da': 331,
 '99396be04e138247e9fc0528a62e0919': 332,
 'c776863a93dc0740c6e7d78104b21413': 333,
 'ff2debba53c9c8185f517f7b3a936aed': 334,
 '7cf01fbc143d74367eedc9b9f8fbf437': 335,
 'c8ea1ac95f4f994f94fb57e99dcca985': 336,
 'c24a00c414738de9ee6121f179ebba9c': 337,
 'cee90a4ed9adb7e720e6007bcc43e4e3': 338,
 'ddc5ef5f86c69f1a29ff3e05e3fc54ab': 339,
 'dd691e4f12c592067339680ffc3dd443': 340,
 'a144da15ca9cb1ebccf012a14736c54d': 341,
 'ce70855bb79f7086da0e4974f7324ac1': 342,
 '8f4be74e60d163c72a59ba577a642d70': 343,
 'f26bbe1ba1d50321617831285d0fe62c': 344,
 '7246a71d326111872bfdfd34f495dc4f': 345,
 'e65f1eeee1f52024ad1dcd03447f7482': 346,
 'd2ebd7492d92dfb6a5737ba33a58f920': 347,
 '8e6df87600aae0285919b5529f7f0bfd': 348,
 'b45255a6696ebb8f53915a109a16458a': 349,
 'bfc9f97fc7ddacf8a3c33c4b2bd15a93': 350,
 '9d4fe519c77c087d5a1bd73637c5c6bf': 351,
 'fb6343faebbbee8c21d59d4ae59477a8': 352,
 '2df8ef770ee7c12291ed7811f4f414c5': 353,
 '75450feecb51c39e54f4bd4c74b867e5': 354,
 'd3f44296d90a42d3ec4b52b18654e87a': 355,
 '87b8f9f472fb04cdbf53fb55a3591b5f': 356,
 '9a8743fed3cc7a477eb92cb0ca0e7d26': 357,
 'd0e9849de800fdb4cb3b5e6d42c6b367': 358,
 '838411338443a817cfb4c26f0f7a9c9a': 359,
 'ce6d150fb29ada17d2082f4847107665': 360,
 'bedae8df4e37a65ccbec319872296b89': 361,
 '16b6123f7077419424bf89af74e2d054': 362,
 'e147052b9ecc00bf938f9e8581944207': 363,
 '18dc026cdb7d39abde1489c336528961': 364,
 '06ff6cb289c9f1d1ccacc6764874e3c2': 365,
 '4436eb8a73f08dc5c4ba8b1e5b96d290': 366,
 'dbdcb70ae949e4cce08f59bfa7e4604b': 367,
 'fff7c4452f050315db1b3f24d9df5fcd': 368,
 'ed90ba41c41da31da8e891ff43a584d1': 369,
 '0bdb173bda4bf7e4109fe707c309252a': 370,
 '5b7c6dbea3e21dc6314451ed73907c0c': 371,
 '47d051e89cf6490245136694a26a4395': 372,
 '0cd19e832fefb17664d1a294b90ad192': 373,
 '9786fe4bfc559809a4bc1a58b72e2077': 374,
 '0fe5bc7345e72628330234915ed373bd': 375,
 '817e8b5495d2b31da82dfe5a89aacdba': 376,
 '22543080a0066963931832c0df11b2be': 377,
 '8ff5ec04a3f395979b2371a0a9ef4136': 378,
 '257699bfe87de4eac234324e88db828a': 379,
 '386a7bf9de133efa1516c4145330f3a6': 380,
 'a72d1276fd9d74c154120c3a11eba771': 381,
 'e74c5411558a7a26de918d23a07e1cef': 382,
 '2b49d60af10ea7e2443376987ec8a184': 383,
 'c047e1042ab337c92ea23d512b54c5bf': 384,
 'a132f4bdf1eb9803546cef73ca7bd322': 385,
 '683bf306149bb869980b68d48a1bd6ab': 386,
 '6df674fd09d933a85574460e32a94e23': 387,
 '5795989efabaace15f06689b3ab3c4c1': 388,
 '440b07cde0dc78d377c42d29845bcafd': 389,
 'adc2f0c9fd838d820339f8220c1adf08': 390,
 'ad6137b47c7f7c1c621f4de13c3d5bc9': 391,
 'f6e638ae1f17003aac1cb6dc6a93ba73': 392,
 'c8f8f9f5df7a6ce2beaa9de85fbf8ca1': 393,
 '1dfbde97fe9eccbac2db9ab2f3d45a9b': 394,
 '6760e20addcf0121e9d58f2f1ff14298': 395,
 'ac3143c0b6db91dd3ca4ab4d8a8243eb': 396,
 '68051b9b65c4b30fc1252a2b69fe1d0b': 397,
 '8a170c32858870f69d7a3477fcca9a4b': 398,
 '242bc9216a7d8514ba8d435a96d63c3d': 399,
 'cbe9e2376e5d8de3c057ed58a638403d': 400,
 'fe36a827e3e9e0a6f5e11b0be2055727': 401,
 'a5fbd128ce1d7a0a314bb56704e0b4cf': 402,
 '3be1b5820b7f93acc617a3b680f37c91': 403,
 '5ad7d897998f9bab0176a1c82b7437ea': 404,
 'b79a7395d3911e77688dfe966105a683': 405,
 'ef0beb334211d552bb4bbb9b43e60248': 406,
 'b616f638cd86d92c7cbd06cf7484ee34': 407,
 'a3670896f8c6f70396896223eb4ca8be': 408,
 '33f3e269b872b41e5f90b01a92d454eb': 409,
 '6a26bd1a037993f1205073dbeda67db4': 410,
 'c3fa73017c4a172907d79669eda248d0': 411,
 '45da19cff07c4148ba32b1a6bb8d87c1': 412,
 'af045d3e5d7082db57d5b5dde3c0c97b': 413,
 'ede510a059fd07ccec20bff19a227fa3': 414,
 'b4d7995506859f96187970c8275ee66c': 415,
 'b9a8d194c52bcb022997d990bd402f7e': 416,
 'fa9ef315051f18a68686aca274ae8f2a': 417,
 '94d2de9ad08d15bd3e714a984bd09bcb': 418,
 '7711d25c50cf5322589706aaf0458117': 419,
 'cf9d814ad8673ebdaec52528c1f7a7ca': 420,
 '0930df388b21f34fc3f0e3baa9a73016': 421,
 'cbb39c59f8084f27c248bd5c3a1cde7b': 422,
 '0705d1148d3c3d342f1a8c8ad33e5d3f': 423,
 '415c8cb8b60f8371900c2abb3ce6a0c3': 424,
 '35d75af8e37e575e033ae1a48c1236ed': 425,
 '81c2a9cc7a5d970fa1cb04443002088b': 426,
 'cb666a5ed3eec739fae136c3da8552c7': 427,
 '7a415e8280c3ae4d608481124c4f5d62': 428,
 'bdd49e833a618b2e10096e4bd5725977': 429,
 '8543d2d86c69647af5e2d957c3d21b85': 430,
 'e8f9288c671277ab525571871aef27cd': 431,
 '38006c12e16c03c74e2eb3113e238e5f': 432,
 '725bd1c01a213e4ac7999d74cc9da874': 433,
 '20aa4f85b1ed8d98e5c742c1a003db9c': 434,
 'e11fec6c25945565c1ef4f14fc3c03b7': 435,
 '30f54cfb85a2cf596ee5b7a589d3ffa0': 436,
 '604b550c04e61700ab7bcb2ac5b5ca53': 437,
 '8a0ecc540156c0f21f25d7bfd4e95dbe': 438,
 'cc80504e2db2b7b744e2bfe2450c95d3': 439,
 '91f377dafe157043ee827b080a27e3f5': 440,
 'c75886866a89a0c9a04fbcd4699f3772': 441,
 'fa625c35a56d989b379939bae9bc9b2a': 442,
 '61792c6272346d7f4b7c5b1747df7b1a': 443,
 '0913c46b1cafecb52e5a9a55b6c0e0fc': 444,
 '65bbd0719855fe808bb19f62dfa9f42c': 445,
 '46c7c115d719ca780eebedf719fbd4e1': 446,
 '83c55d64c56ad16ba3c0f7858cd709d0': 447,
 'e899327a5964f4d29698667a231e6b9d': 448,
 '5ff78652a040431e007c9349249d3503': 449,
 '9bfe486cba6ba9af52af7bfe86ff9859': 450,
 '8be031b84394ed99ee85be1985019058': 451,
 'ac0da888b1077d0f40b33eea6de6297e': 452,
 'ebee038c5993647eb1defc78207cd187': 453,
 'c596d8640962b115481b374c7b881f6a': 454,
 '394eefeb1d359eb230a22ba3bd68f072': 455,
 'cccb62677b6ed93ec68f4428a0ad81ee': 456,
 'b249bb5bc00cfbe2ce917a5a07c72b46': 457,
 'c5bb91ea2129a21a4f424d356a4d28fa': 458,
 'fd26702a3f7ee5d86580de591ff53e3f': 459,
 '22420f3718ef75dcddb4f03201096895': 460,
 '019bdbaef5b5121c9b1811976aa510a5': 461,
 'e3c6bf3aad3a42c48ae9619ac88d0b3d': 462,
 'aa4f33b236ebf41f573308022ef7496b': 463,
 'ff5b7f440481674b38554434638beebf': 464,
 '968ce3e13bbc09dc91d26a2f0208d99d': 465,
 '31026c762ccd760199ad552ea17e0269': 466,
 'd74283a9b897322afe09916280aca43f': 467,
 'c453fb0ec44f618a32abcad5c873d06f': 468,
 '189ede25eb8522abcbd3592d08811f85': 469,
 '17b18aa0bfdcebddefdf2d7da5718181': 470,
 '828c3114b783f896fba059433600c471': 471,
 'fcf62e3aab276898567e4ab7e973417f': 472,
 'a6afa7362f8ec053b0b61cdc8f1c8b25': 473,
 '940d83f3286808e4f8b1a7ac975b2aa9': 474,
 '238bcd7a2027e5f32fd185c264d73786': 475,
 '3d7fb1dd6ff6f0eedb9976eda81e4a95': 476,
 '0f090dd2d83a9d755108584313c8208d': 477,
 '60bcba6747ee878b9007f61275f4cd1f': 478,

In [225]:
df_order_payment['order_id']=df_order_payment['order_id'].map(order_id_map)

In [226]:
df_order_payment

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,1,1,credit_card,8,99.33
1,2,1,credit_card,1,24.39
2,3,1,credit_card,1,65.71
3,4,1,credit_card,8,107.78
4,5,1,credit_card,2,128.45
...,...,...,...,...,...
103881,99436,1,boleto,1,363.31
103882,99437,1,credit_card,2,96.80
103883,99438,1,credit_card,1,47.77
103884,99439,1,credit_card,5,369.54
103885,99440,1,boleto,1,191.58

## Payment Sequential Segmentation
The segments are divided into 2:


Equal to 1 (majority)


Greater than 1

In [227]:
df_order_payment['payment_segment']='>1'
df_order_payment.loc[df_order_payment['payment_sequential']==1,'payment_segment'] = '1'

In [228]:
df_order_payment

,order_id,payment_sequential,payment_type,payment_installments,payment_value,payment_segment
0,1,1,credit_card,8,99.33,1
1,2,1,credit_card,1,24.39,1
2,3,1,credit_card,1,65.71,1
3,4,1,credit_card,8,107.78,1
4,5,1,credit_card,2,128.45,1
...,...,...,...,...,...,...
103881,99436,1,boleto,1,363.31,1
103882,99437,1,credit_card,2,96.80,1
103883,99438,1,credit_card,1,47.77,1
103884,99439,1,credit_card,5,369.54,1
103885,99440,1,boleto,1,191.58,1

In [229]:
df_order_payment.drop(columns=(['payment_sequential']),inplace=True)

In [230]:
df_order_payment

,order_id,payment_type,payment_installments,payment_value,payment_segment
0,1,credit_card,8,99.33,1
1,2,credit_card,1,24.39,1
2,3,credit_card,1,65.71,1
3,4,credit_card,8,107.78,1
4,5,credit_card,2,128.45,1
...,...,...,...,...,...
103881,99436,boleto,1,363.31,1
103882,99437,credit_card,2,96.80,1
103883,99438,credit_card,1,47.77,1
103884,99439,credit_card,5,369.54,1
103885,99440,boleto,1,191.58,1

### Payment Installments
Categrize them :
- 1:Single Payment
- 2–3:	Low Installments
- 4–6:	Medium Installments
- 7+:   High Installments

In [231]:
#Create a function to categorize each one:
def categorize_installments(x):
    if x==1:
        return '1'
    elif 2<=x<=3:
        return '2-3'
    elif 4<=x<=6:
        return '4-6'
    else:
        return '7+'

df_order_payment['installment_segment']=df_order_payment['payment_installments'].apply(categorize_installments)

In [232]:
df_order_payment

,order_id,payment_type,payment_installments,payment_value,payment_segment,installment_segment
0,1,credit_card,8,99.33,1,7+
1,2,credit_card,1,24.39,1,1
2,3,credit_card,1,65.71,1,1
3,4,credit_card,8,107.78,1,7+
4,5,credit_card,2,128.45,1,2-3
...,...,...,...,...,...,...
103881,99436,boleto,1,363.31,1,1
103882,99437,credit_card,2,96.80,1,2-3
103883,99438,credit_card,1,47.77,1,1
103884,99439,credit_card,5,369.54,1,4-6
103885,99440,boleto,1,191.58,1,1

In [233]:
df_order_payment.drop(columns=['payment_installments'],inplace=True)

In [234]:
df_order_payment

,order_id,payment_type,payment_value,payment_segment,installment_segment
0,1,credit_card,99.33,1,7+
1,2,credit_card,24.39,1,1
2,3,credit_card,65.71,1,1
3,4,credit_card,107.78,1,7+
4,5,credit_card,128.45,1,2-3
...,...,...,...,...,...
103881,99436,boleto,363.31,1,1
103882,99437,credit_card,96.80,1,2-3
103883,99438,credit_card,47.77,1,1
103884,99439,credit_card,369.54,1,4-6
103885,99440,boleto,191.58,1,1

## Payment Type
There is a type called : not defined
It contains a transaction that has no payment value therefore it is not valuable to the study

In [235]:
#Create a mask to remove the rows with the type ="not_defined"
mask = df_order_payment['payment_type'] != 'not_defined'
df_order_payment = df_order_payment[mask]

In [236]:
df_order_payment['payment_type'].unique()

<StringArray>
['credit_card', 'boleto', 'voucher', 'debit_card']
Length: 4, dtype: str

#### Remapping the types of payments

In [237]:
df_order_payment['payment_type'] = df['payment_type']

In [238]:
payment_map = {
    'credit_card': 'C',
    'debit_card': 'D',
    'voucher': 'V',
    'boleto': 'B'
}

df_order_payment['payment_type_short'] = df_order_payment['payment_type'].map(payment_map)

In [239]:
df_order_payment

,order_id,payment_type,payment_value,payment_segment,installment_segment,payment_type_short
0,1,credit_card,99.33,1,7+,C
1,2,credit_card,24.39,1,1,C
2,3,credit_card,65.71,1,1,C
3,4,credit_card,107.78,1,7+,C
4,5,credit_card,128.45,1,2-3,C
...,...,...,...,...,...,...
103881,99436,boleto,363.31,1,1,B
103882,99437,credit_card,96.80,1,2-3,C
103883,99438,credit_card,47.77,1,1,C
103884,99439,credit_card,369.54,1,4-6,C
103885,99440,boleto,191.58,1,1,B

In [240]:
df_order_payment['payment_type_short'].value_counts()

payment_type_short
C    76795
B    19784
V     5775
D     1529
Name: count, dtype: int64

In [241]:
df_order_payment.drop(columns=['payment_type'],inplace=True)

In [242]:
df_order_payment

,order_id,payment_value,payment_segment,installment_segment,payment_type_short
0,1,99.33,1,7+,C
1,2,24.39,1,1,C
2,3,65.71,1,1,C
3,4,107.78,1,7+,C
4,5,128.45,1,2-3,C
...,...,...,...,...,...
103881,99436,363.31,1,1,B
103882,99437,96.80,1,2-3,C
103883,99438,47.77,1,1,C
103884,99439,369.54,1,4-6,C
103885,99440,191.58,1,1,B

In [243]:
df_copy=df_order_payment.copy()

In [244]:
df_copy['order_id'] = df['order_id']

In [245]:
df_copy

,order_id,payment_value,payment_segment,installment_segment,payment_type_short
0,b81ef226f3fe1789b1e8b2acac839d17,99.33,1,7+,C
1,a9810da82917af2d9aefd1278f1dcfa0,24.39,1,1,C
2,25e8ea4e93396b6fa0d3dd708e76c1bd,65.71,1,1,C
3,ba78997921bbcdc1373bb41e913ab953,107.78,1,7+,C
4,42fdf880ba16b47b59251dd489d4441a,128.45,1,2-3,C
...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,363.31,1,1,B
103882,7b905861d7c825891d6347454ea7863f,96.80,1,2-3,C
103883,32609bbb3dd69b3c066a6860554a77bf,47.77,1,1,C
103884,b8b61059626efa996a60be9bb9320e10,369.54,1,4-6,C
103885,28bbae6599b09d39ca406b747b6632b1,191.58,1,1,B

# Data Cleaned Saved

In [246]:
df_copy.to_csv("df_order_payment_cleaned.csv", index=False)