In [8]:
import pandas as pd
import os

In [5]:
df_geo = pd.read_csv(r"C:/Users/user/Desktop/Ecom/data/raw/olist_geolocation_dataset.csv")
df_geo.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [6]:
df_geo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

In [7]:
df_geo.shape

(1000163, 5)

In [ ]:
df_geo.isnull().sum()

geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

In [ ]:
df_geo["geolocation_zip_code_prefix"].duplicated().sum()

np.int64(981148)

In [ ]:
df_geo_clean = (
    df_geo
    .groupby("geolocation_zip_code_prefix")
    .agg({
        "geolocation_lat": "mean",
        "geolocation_lng": "mean",
        "geolocation_city": "first",
        "geolocation_state": "first"
    })
    .reset_index()
)

In [ ]:
df_geo_clean["geolocation_city"] = (
    df_geo_clean["geolocation_city"]
    .str.strip()
    .str.title()
)

df_geo_clean["geolocation_state"] = (
    df_geo_clean["geolocation_state"]
    .str.strip()
    .str.upper()
)

In [ ]:
df_geo_clean.shape

(19015, 5)

In [ ]:
df_geo_clean["geolocation_zip_code_prefix"].is_unique

True

In [ ]:
import os

os.makedirs("C:/Users/user/Desktop/Ecom/data/processed", exist_ok=True)

In [ ]:
df_geo_clean.to_csv(
    "C:/Users/user/Desktop/Ecom/data/processed/geolocation_cleaned.csv",
    index=False
)