In [2]:
#Imports

import pandas as pd
import os

# DATA CLEANING

In [9]:

df = pd.read_csv(r"C:\Users\user\Desktop\Ecom\data\raw\olist_customers_dataset.csv")
df.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [ ]:
df.shape

(99441, 5)

In [16]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  str
 1   customer_unique_id        99441 non-null  str
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  str
 4   customer_state            99441 non-null  str
dtypes: int64(1), str(4)
memory usage: 3.8 MB

In [21]:
df.describe()

       customer_zip_code_prefix
count              99441.000000
mean               35137.474583
std                29797.938996
min                 1003.000000
25%                11347.000000
50%                24416.000000
75%                58900.000000
max                99990.000000

In [25]:
df.isnull().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [33]:
df.duplicated().sum()

np.int64(0)

In [34]:
df = df.drop_duplicates()

In [36]:
df["customer_city"] = df["customer_city"].str.strip().str.title()
df["customer_state"] = df["customer_state"].str.strip().str.upper()

In [37]:
df["customer_id"].is_unique

True

In [40]:
df["customer_unique_id"].is_unique

False

In [41]:
df["customer_zip_code_prefix"] = df["customer_zip_code_prefix"].astype(str)

In [42]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  str
 1   customer_unique_id        99441 non-null  str
 2   customer_zip_code_prefix  99441 non-null  str
 3   customer_city             99441 non-null  str
 4   customer_state            99441 non-null  str
dtypes: str(5)
memory usage: 3.8 MB

In [43]:
df.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,Franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,Sao Bernardo Do Campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,Sao Paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,Mogi Das Cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,Campinas,SP

In [45]:
df

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,Franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,Sao Bernardo Do Campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,Sao Paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,Mogi Das Cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,Campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,Sao Paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,Taboao Da Serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,Fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,Canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,Cotia,SP

In [50]:
import os

os.makedirs("C:/Users/user/Desktop/Ecom/data/processed", exist_ok=True)

In [52]:
df.to_csv(
    "C:/Users/user/Desktop/Ecom/data/processed/customers_cleaned.csv",
    index=False
)

In [53]:
import pandas as pd
import numpy as np
import re
from collections import Counter

# Load data

df = pd.read_csv(r"C:\Users\user\Desktop\Ecom\data\raw\olist_customers_dataset.csv")
df.head()


# Comprehensive cleaning function
def clean_customer_data(df):
    """
    Comprehensive cleaning function for customer data
    """
    # Make a copy to avoid warnings
    df_clean = df.copy()
    
    # 1. Clean string columns - remove quotes and extra spaces
    string_columns = ['customer_id', 'customer_unique_id', 'customer_city', 'customer_state']
    for col in string_columns:
        df_clean[col] = df_clean[col].astype(str).str.strip('"').str.strip()
    
    # 2. Clean zip code
    df_clean['customer_zip_code_prefix'] = df_clean['customer_zip_code_prefix'].astype(str).str.strip('"')
    df_clean['customer_zip_code_prefix'] = df_clean['customer_zip_code_prefix'].str.zfill(5)
    
    # 3. Standardize city names (proper case)
    df_clean['customer_city'] = df_clean['customer_city'].str.lower().str.title()
    
    # 4. Standardize state codes (uppercase)
    df_clean['customer_state'] = df_clean['customer_state'].str.upper()
    
    # 5. Remove duplicates keeping first occurrence
    initial_rows = len(df_clean)
    df_clean = df_clean.drop_duplicates(subset=['customer_id'], keep='first')
    print(f"Removed {initial_rows - len(df_clean)} duplicate customer_ids")
    
    # 6. Handle missing values
    missing_before = df_clean.isnull().sum()
    # If any missing values, we can fill or drop based on business rules
    # df_clean = df_clean.dropna()  # Uncomment if you want to drop missing
    
    return df_clean

# Apply cleaning
df_cleaned = clean_customer_data(df)

# Validation checks
print("\n" + "="*60)
print("VALIDATION CHECKS")
print("="*60)

# Check 1: All customer_ids should be unique
assert df_cleaned['customer_id'].is_unique, "customer_id column has duplicates!"

# Check 2: All zip codes should be 5 digits
invalid_zips = df_cleaned[~df_cleaned['customer_zip_code_prefix'].str.match(r'^\d{5}$')]
if len(invalid_zips) > 0:
    print(f"Warning: Found {len(invalid_zips)} invalid zip codes")
else:
    print("✓ All zip codes are valid 5-digit numbers")

# Check 3: State codes should be valid Brazilian states
valid_states = ['AC', 'AL', 'AP', 'AM', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MT', 'MS', 
                'MG', 'PA', 'PB', 'PR', 'PE', 'PI', 'RJ', 'RN', 'RS', 'RO', 'RR', 'SC', 
                'SP', 'SE', 'TO']
invalid_states = df_cleaned[~df_cleaned['customer_state'].isin(valid_states)]
if len(invalid_states) > 0:
    print(f"Warning: Found {len(invalid_states)} invalid state codes")
    print(invalid_states['customer_state'].value_counts())
else:
    print("✓ All state codes are valid")

# Check 4: No null values
null_counts = df_cleaned.isnull().sum()
if null_counts.sum() > 0:
    print(f"Warning: Found null values:\n{null_counts[null_counts > 0]}")
else:
    print("✓ No null values found")

# Summary statistics
print("\n" + "="*60)
print("CLEANED DATA SUMMARY STATISTICS")
print("="*60)
print(f"Total records: {len(df_cleaned):,}")
print(f"Unique customers: {df_cleaned['customer_unique_id'].nunique():,}")
print(f"States covered: {df_cleaned['customer_state'].nunique()}")
print(f"Cities covered: {df_cleaned['customer_city'].nunique():,}")

# Top states and cities
print("\nTop 5 States:")
print(df_cleaned['customer_state'].value_counts().head())

print("\nTop 10 Cities:")
print(df_cleaned['customer_city'].value_counts().head(10))

# Save cleaned data
df_cleaned.to_csv('olist_customers_cleaned_final.csv', index=False)
print("\n✓ Cleaned data saved to 'olist_customers_cleaned_final.csv'")

# Display first few rows of cleaned data
print("\nFirst 10 rows of cleaned data:")
print(df_cleaned.head(10))

Removed 0 duplicate customer_ids

============================================================
VALIDATION CHECKS
============================================================
✓ All zip codes are valid 5-digit numbers
✓ All state codes are valid
✓ No null values found

============================================================
CLEANED DATA SUMMARY STATISTICS
============================================================
Total records: 99,441
Unique customers: 96,096
States covered: 27
Cities covered: 4,119

Top 5 States:
customer_state
SP    41746
RJ    12852
MG    11635
RS     5466
PR     5045
Name: count, dtype: int64

Top 10 Cities:
customer_city
Sao Paulo                15540
Rio De Janeiro            6882
Belo Horizonte            2773
Brasilia                  2131
Curitiba                  1521
Campinas                  1444
Porto Alegre              1379
Salvador                  1245
Guarulhos                 1189
Sao Bernardo Do Campo      938
Name: count, dtype: int64

✓ Cleaned data saved to 'olist_customers_cleaned_final.csv'

First 10 rows of cleaned data:
                        customer_id                customer_unique_id  \
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2  4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
3  b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
4  4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066
5  879864dab9bc3047522c92c82e1212b8  4c93744516667ad3b8f1fb645a3116a4
6  fd826e7cf63160e536e0908c76c3f441  addec96d2e059c80c30fe6871d30d177
7  5e274e7a0c3809e14aba7ad5aae0d407  57b2a98a409812fe9618067b6b8ebe4f
8  5adf08e34b2e993982a47070956c5c65  1175e95fb47ddff9de6b2b06188f7e0d
9  4b7139f34592b3a31687243a302fa75b  9afe194fb833f79e300e37e580171f22

  customer_zip_code_prefix          customer_city customer_state
0                    14409                 Franca             SP
1                    09790  Sao Bernardo Do Campo             SP
2                    01151              Sao Paulo             SP
3                    08775        Mogi Das Cruzes             SP
4                    13056               Campinas             SP
5                    89254         Jaragua Do Sul             SC
6                    04534              Sao Paulo             SP
7                    35182                Timoteo             MG
8                    81560               Curitiba             PR
9                    30575         Belo Horizonte             MG